/* CSS universel */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* Assure que le body prend toute la hauteur */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles pour la boîte de message */
.message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 50vh;
  height: 50vh;
  background-color: white;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
}

.message-box h1,
.message-box p {
  color: #000;
  /* Couleur du texte */
  margin-bottom: 24px;
  /* Espace sous les titres et paragraphes */
}

/* Style pour le H1 */
h1 {
  color: #000;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}


/* Styles pour le bouton */
.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}


/* Responsive */
@media (max-width: 768px) {
  .message-box {
    padding: 10px;
    width: 50vh;
    height: 50vh;
  }

  .message-box h1 {
    font-size: 20px;
  }

  .message-box button {
    padding: 5px 10px;
  }
}