/* Réinitialisation CSS pour assurer la cohérence entre les navigateurs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles de base pour html et body pour centrer le contenu */
html,
body {
  height: 100%;
  /* Assure que le body prend toute la hauteur */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Conteneur principal pour les éléments de contenu */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

/* Styles pour la boîte de message */
.message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Boîte contenant le message généré */
.message-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 50vh;
  background-color: white;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
  margin: 24px 20px;
}

/* Styles pour les titres et paragraphes à l'intérieur de .message-box */
.message-box h1,
.message-box p {
  color: #000;
}

/* Style spécifique pour les titres h1 */
h1 {
  color: #000;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 24px;
}

/* Style pour le texte qui s'affiche */
#messageDisplay {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-align: center;
  width: 75%;
}

/* Styles pour le bouton de génération de message */
.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: .75rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}


/* Styles pour les écrans très petits (mobiles) */
@media screen and (max-width: 767px) {
  main {
    margin-bottom: 3vh;
  }
  
  .message-text-box {
    width: 50vh;
    height: 50vh;
  }

  .message-box {
    width: 100%;
  }

  .message-box h1 {
    font-size: 20px;
  }

  .message-box button {
    font-size: .8rem;
    padding: .5rem;
  }
}


/* Styles pour les tablettes et petits écrans d'ordinateur */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .message-text-box {
    width: 50vh;
    height: 50vh;
    margin: 20px auto;
  }

  .message-box {
    width: 100%;
  }
  
  .message-box h1 {
    font-size: 22px;
  }

  .message-box button {
    font-size: .8rem;
    padding: .5rem;
  }
}


/* Styles pour les ordinateurs de bureau moyens */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  main {
    margin-bottom: 5vh;
  }
  
  .message-text-box {
    width: 50vh;
    height: 50vh;
  }

  .message-box {
    width: 100%;
  }
  
  .message-box h1 {
    font-size: 24px;
  }

  .message-box button {
    font-size: .8rem;
    padding: .5rem;
  }
}


/* Styles pour les grands écrans d'ordinateur */
@media screen and (min-width: 1280px) {
  main {
    margin-bottom: 6vh;
  }

  .message-box {
    width: 100%;
  }
  
  .message-text-box {
    width: 50vh;
    height: 50vh;
  }

  .message-box button {
    font-size: .8rem;
    padding: .5rem;
  }
}
